// Example file: remove comments to use it. It must follow JSON syntax
{
    "proto": "http",            // Protocol to use
    "host": "192.168.56.1",     // IP address of the manager
    "port": 8080,               // Port the manager listens to
    "key": "mysecretapikey",    // API key used to authenticate to the manager
    "queue-dir": "Queue",       // Queue directory used by WHIDS to store alerts in case of failure
    "server-key": ""            // Key used to authenticate the server (checked against manager's key).
                                // if blank or not defined server authentication is not enforced
}